{% load static %}

<link rel="icon"href="{% static 'app/resources/favicon.ico' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brupi - Organization App for work teams</title>
    <link rel="stylesheet" href="{% static 'app/css/landing-styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/fonts.css' %}">
    <script src="https://kit.fontawesome.com/f3bbcf10d0.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>