{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table container">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ response["symbol"] }}</td>
                <td>{{ response["name"] }}</td>
                <td>{{ response["price"] | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}