{% load static %}

<link rel="icon"href="{% static 'app/resources/favicon.ico' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Brupi{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/main-styles.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/fonts.css' %}">
        <script src="{% static 'app/javascript/calendar-script.js' %}"></script>
        <script src="{% static 'app/javascript/main-script.js' %}"></script>
        <script src="https://kit.fontawesome.com/f3bbcf10d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="background" class="bg-color0">
            <div id="background-color"></div>
            <div id="circle1"></div>
            <div id="circle2"></div>
        </div>

        <div class="body">

            <div class="content">
                
                <div id="profile" class="clickeable"></div>

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>