{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ content | safe }}
    {% if error %}
        <div style="text-align: center; margin-top: 25vh; font-family: arial; font-weight: bold;">
        <p style="font-size: 120px;">404</p>
        <p style="font-size: 50px; margin-top: -50px">Page not found</p>
        <a class="btn btn-outline-primary" href="{% url 'index'%}">Home</a>
        </div>
    {% endif %}
    {% if not error %}
        <a class="btn btn-outline-secondary" href="{% url 'edit' title %}" >Edit page</a>
    {%endif%}
{%endblock%}